{% load static %}
<style>
  #footer-id {
    display: flex;
    justify-content: space-around;
    background-color: #0A172C;
    color: #ffffff;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
  }
</style>

<footer id="footer-id" class="text-center">
  <div style="width:20%">
    <h5>About</h5>
    <a style="color:#5B6069" href='/about/'>About Us</a>
  </div>
  <div class="d-flex flex-column" style="width:20%">
    <h5>Schoolasium</h5>
    <a style="color:#5B6069" href="/fellowship/">Schoolasium fellowship</a>
    <a style="color:#5B6069" href="#">What we do</a>
    <a style="color:#5B6069" href="#">Magazine</a>
  </div>
  <div style="width:20%">
    <h5>Address</h5>
    <a style="color:#5B6069" href="https://goo.gl/maps/XDTeVbkNmvG1eHst8" target="_blank">
      <ul class="list-unstyled text-small">
        <li>Mount Everest Learning Foundation</li>
        <li>Jawahar Road, Chitarpur</li>
        <li href="#">Ramgarh, Jharkhand, 825101</li>
      </ul>
    </a>
  </div>

  <div style="width:20%" style="width:20%">
    <h5>Contact</h5>
    <ul class="list-unstyled text-small">
      <li>
        <a style="color:#5B6069" href="#">Phone : +91-9986221752/ 9113104690/ 7050600120</a>
      </li>
      <li><a style="color:#5B6069" href="mailto:schoolasium@gmail.com?Subject=Query" target="_blank">Email :
          schoolasium@gmail.com</a></li>
      <li><a style="color:#5B6069" href="mailto:melearningfoundation@gmail.com?Subject=Query" target="_blank">Email :
          melearningfoundation@gmail.com</a></li>
      <li><a style="color:#5B6069" href="http://www.meps.in" target="_blank">www.meps.in</a>
      </li>
    </ul>

  </div>
  <div style="width:20%"> ©Schoolasium 2020 </div>
  <!-- </div> -->
</footer>