{% load static %}
<style>
    .top_bar {
        position: sticky;
        top: 0;
        z-index: 10;
    }
</style>

<nav class="navbar navbar-expand-md navbar-light-dark bg-dark top_bar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--mr-auto in navbar-nav-->
        <ul class="navbar-nav">
            <li class="mx-2 nav-item active">
                <a class="nav-link  text-white" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="mx-2 nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Study Materials
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for item in classes %}
                    <a class="dropdown-item" href="/class/{{item}}/">{{item}}</a>
                    {% endfor %}
                </div>
            </li>

            {% if user.is_authenticated %}

            <li class="ml-2 nav-item active">
                <a class="nav-link  text-white" href="/contents/">Contents</a>
            </li>
            {% endif %}


        </ul>

        <div class="top_bar-logo mx-auto">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/schoolasium_logo.png' %}" alt="logo" width="50px">
                <span class=" text-white display-6">SCHOOLASIUM</span>
            </a>
        </div>
        <!-- <a class="navbar-brand mx-auto" href="#">
            <div id="logo"></div>
        </a> -->

        {% if user.is_authenticated %}
        <div class="mx-2">
            <form action="{% url 'logout'%}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Logout" class="btn btn-danger hello-msg">
            </form>
        </div>
        {% else%}

        <div class="mx-2">
            </li>
            <a href="#" class="btn btn-sm btn-success text-white">
                Login
            </a>
            <a href="#" class="btn btn-sm btn-success text-white">
                Sign Up
            </a>
        </div>
        {% endif %}

    </div>
</nav>