{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Schoolasium | About Us</title>
{% endblock title %}


{% block content %}
<div class="row my-5" style="background: transparent;">
    <div class="col mx-auto">
        <div class="card" style="border-style: none">
            <div class="row mt-5">
                <div class="col-8 mx-auto">
                    <div class="card text-center" style="background-color:rgba(0,0,0,.5)">
                        <div class="card-header text-white bg-secondary">
                            <h4>Why Schoolasaium?</h4>
                        </div>
                        <div class="card-body text-white m-4 rounded" style="background-color:#191A18">
                            <p class="card-text">
                                Anyone could wonder about new word! The word schoolasium is coined from two words School
                                +
                                Gymnasium. In gymnasium peoples build the body and mussel by physical exercise with the
                                help of many
                                equipments like dumbbells and mussel stretching machines. Burning calories of energy and
                                sweating
                                hours gives a good shape of body. Similarly in Schoolasium child have to develop and
                                nurture their
                                brain through making and developing the toys and equipments hands-on. In the process
                                they have to go
                                though experiment based learning and maker centric learning.
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-8 mx-auto">
                    <div class="card text-center" style="background-color:rgba(0,0,0,.5)">
                        <div class="card-header text-white bg-secondary">
                            <h4>Our Vision</h4>
                        </div>
                        <div class="card-body text-white m-4 rounded" style="background-color:#191A18">
                            <p class="card-text">
                                To be a resource centre for schools in Jharkhand and Bihar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-8 mx-auto">
                    <div class="card text-center" style="background-color:rgba(0,0,0,.5)">
                        <div class="card-header text-white bg-secondary">
                            <h4>Our Mission</h4>
                        </div>
                        <div class="card-body text-white m-4 rounded" style="background-color:#191A18">
                            <p class="card-text">
                                To support low-income private and government schools to cultivate vibrant learning
                                ecosystem where
                                holistic learning is fostered.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-8 mx-auto">
                    <div class="card text-center" style="background-color:rgba(0,0,0,.5)">
                        <div class="card-header text-white bg-secondary">
                            <h4>Our GOAL</h4>
                        </div>
                        <div class="card-body text-white m-4 rounded" style="background-color:#191A18">
                            <p class="card-text">
                                To support the rural schools in Jharkhand and Bihar to establish the STEAM Prayogshala,
                                Makeshala
                                (Tinkering Lab) and Libraries and make MEPS as an EdHub.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-8 mx-auto">
                    <div class="card text-center" style="background-color:rgba(0,0,0,.5)">
                        <div class="card-header text-white bg-secondary">
                            <h4>Our Objective</h4>
                        </div>
                        <div class="card-body text-white m-4 rounded" style="background-color:#191A18">
                            <p class="card-text mb-4">
                                Enhance the learning ecosystem in rural Jharkhand & Bihar through implementation of innovative teaching-learning practices.
                            </p>
                            <div style="border-top: 1px solid white">
                                <hr>
                            </div>

                            <p class="card-text mb-4">
                                To establish the STEAM Prayogshala (S- science, T- technology, E- engineering, A- arts,
                                M- Maths),
                                Makeshala and Libraries at schools.
                            </p>
                            <div style="border-top: 1px solid white">
                                <hr>
                            </div>

                            <p class="card-text mb-4">
                                Capacity building of low-cost private and government school administrators and teachers.
                            </p>

                            <div style="border-top: 1px solid white">
                                <hr>
                            </div>

                            <p class="card-text mb-4">
                                To provide educators fellowships to support capacity building of, school teachers, and
                                graduate
                                students and professional who have passion to work on rural education.
                            </p>
                            <div style="border-top: 1px solid white">
                                <hr>
                            </div>

                            <p class="card-text mb-4">
                                To be a part of Skill India initiative of Government of India to equip students and
                                teachers with
                                necessary 21st century skills.
                            </p>

                            <div style="border-top: 1px solid white" >
                                <hr>
                            </div>

                            <p class="card-text mb-4">
                                To be a part of maker movement through Atal Innovation Mission (AIM) of Government of
                                India.
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}