{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Schoolasium</title>
{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-8 mx-auto">

        <div class="row mt-5">
            <div class="col">
                <div class="card" style="background-color:rgba(0,0,0,.5)">
                    <div class="card-header text-center">
                        <h2>Schoolasium Educators Fellowship (SEF) program</h2>
                    </div>

                    <div class="card-body " style="background-color:#191A18">
                    <h6 class="card-subtitle mb-2 text-muted text-white">To find promising leaders and teachers, who are committed to transforming the education system. Fellows have to develop a vibrant school learning ecosystem through ‘Hands on Minds on’.</h6>

                    
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-center mt-5" style="background-color:rgba(0,0,0,.5)">
            <div class="card-header bg-secondary">
                <h2>Our Approach</h2>
            </div>
            <div class="card-body m-4 rounded" style="background-color:#191A18">
                <div class="row">
                    <div class="col-3 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Find Promising Leaders/Educators</h5>
                                <p class="card-text">To find promising leaders and educators, who are committed to transforming the education system</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Support Leaders to Make an Impact</h5>
                                <p class="card-text">
                                    We support leaders to nurture students’ growth and help to strengthen school’s scientific temper
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Develop Systems-Change Leaders</h5>
                                <p class="card-text">We cultivate and develop their long- term leadership through Adventure and Hands-on teaching-learning practice</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Continuous Resource Support to Schools</h5>
                                <p class="card-text">We continuously support schools for sustainable and vibrant learning ecosystem.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}